{% extends 'base.html.twig' %}

{% block body %}
    <h1>Posts</h1>

    {# All Posts Link #}
    <a href="/blog">All Posts</a>

    {# Category Filter Links #}
    {% for category in categories %}
        <a href="/blog?category={{ category.name }}">{{ category.name }}</a>
    {% endfor %}

    <ul>
        {% for post in posts %}
            {% set categoryName = app.request.query.get('category') %}
            {% set categoryFound = false %}

            {% if categoryName is null %}
                {% set categoryFound = true %}
            {% else %}
                {% for category in post.categories %}
                    {% if category.name == categoryName %}
                        {% set categoryFound = true %}
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if categoryFound %}
                <li>
                    <h2><a href="/blog/post/{{ post.id }}">{{ post.title }}</a></h2>
                    <p>
                        {% if post.updatedAt is not null %}
                            Updated at: {{ post.updatedAt|date('Y-m-d H:i:s') }}
                        {% else %}
                            Created at: {{ post.createdAt|date('Y-m-d H:i:s') }}
                        {% endif %}
                    </p>
                    <p>Categories:
                        {% for category in post.categories %}
                            <span>{{ category.name }}</span>{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}